<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Diabetes Predictor</title>
        <link rel="shortcut icon" href="static/diabetes.gif">
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body style="height: 100vh;
    background: url('static/bg1.png') 50% fixed;
    background-size: cover;">

        <!-- Website Title -->
    	<div class="container"  style="background-color: rgba(255,255,255,0.4)">
            <h2 class='container-heading'><span class="heading_font">Diabetes Predictor</span></h2>
            <div class='description'>
    			<p>A Random Forest Based approach for a quick prediction of Diabetes</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	
        
        
   

        <div style="width: 100%;">
        <div style="width: 50%; height: 400px; float: left; "> 
            <div class="container" >
            
               <img src="static/1in4.gif"> 

            </div>
        </div>



        <div style="margin-left: 50%; height: 400px; "> 
            <div > 
            
              <form class="login">
                <p style="font-size: 20px;">Diabetes is caused by the body’s inability to create or effectively use its own insulin, which is produced by islet cells found in the pancreas. Insulin helps regulate blood sugar (glucose) levels – providing energy to body cells and tissues.</p>

                <p style="font-size: 20px;">Unfortunately, diabetes is increasing at an alarming rate in the United States. According to the CDC’s National Diabetes Statistics Report for 2020 cases of diabetes have risen to an estimated 34.2 million. Further in 2018, an estimated 1.5 million new cases of diabetes were diagnosed among U.S. adults aged 18 years or older, which includes approximately 210,000 children and adolescents younger than age 20 years.</p>

                <a href='https://www.cdc.gov/diabetes/basics/diabetes.html' target="_blank"><button  type="button" >
                  
                  <span style="font-size: 20px;font-family:'Times New Roman'">More Informtion</span>
                </button></a>
                
              </form>
              </p>
            </div>






        </div>
        </div>



        

        <div class="container" style="background-color: rgba(255,255,255,0.4)">
            <h1>Dont suffer alone, check first </h1>
            <a href=homepage ><button class=grey style="height:80px;background-color: #af832c;font-size: 20px;font-family:'Times New Roman';color: white;">Find your Prediction Here!</button></a>
        </div>

        
        <!-- Footer -->
       <div class='footer'>
           
       </div>

    </body>
</html>
